{% extends 'base.html.twig' %}

{% block title %}Access Denied{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1 class="text-danger">Access Denied</h1>
        <p>Sorry, you don't have permission to access this page.</p>
        <a href="{{ path('app_home') }}" class="btn btn-primary">Go Back to Homepage</a>
    </div>
{% endblock %}