<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2025 Copyright: Uni_APP
  </div>
</footer>
