{# templates/admin/dashboard.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {% include 'admin/partials/_navbar.html.twig' %}
      <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="w-25">
            <div class="card shadow p-4">
                Welcome Admin!
            </div>
        </div>
    </div>
{% endblock body %}